.card-container {
  width: 400px;
  height: 200px;
  background-color: #108EE9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
  p {
    color: black;
  }
}


.button {
  background-color: white;
}

.card-price {
  color: white;
}